.home {
    background-size: cover;
    background-image: url("./landscape1.jpg"); 
    height: 89.5vh;
    padding-top: 6vw;
    padding-left: 8vw;
    

}

h1 {
    font-size: 7rem;
    font-weight: 700;
    padding-bottom: 1vw;
    /* color: aqua; */
}

h3 {
    font-size: 1.7rem;
    font-weight: 400;
    padding-bottom: 0vh
}


p { 
    width: 40vw;
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 2vh;
}

#explore {
    padding: 1vw;
    background-color: black;
    border: black;
    font-size: 25px;
    color: white;
    width: 150px;
    border-radius: 40px;
}

.explore{
    color: white
}


.below{
    vertical-align: middle;
    text-align: center;
    align-items: center;
    color: rgb(3, 3, 17); 
    background-color: white;
    /* padding: 2vw; */
}

.vision{
    color: white;
    width: 100%;
    position: relative;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0 auto;
}

.culture {
    padding-top: 7vh;
    text-align: center;
}

.vision p {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2vw;
}


.culture p {
    font-size: 2.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.quiet p {
    font-size: 2.25rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.images{ 
    justify-content: center;
    display: flex;
}
#img{
    
    padding-top: 50px;
    width: 17vw;
    padding-bottom: 5vw;
    object-fit: cover;
}


#img2 {
    
    padding-top: 50px;
    width: 28vw;
    padding-bottom: 5vw;
    object-fit: cover;
}

#img2:hover, #img:hover {
    opacity: 0.5;
    overflow: hidden;

  }

  .text {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(8, 8, 8);
  }

#img:hover + .text {
    position: absolute;
    display: block;
    text-align: center;
    

}

#img2:hover + .text {
    position: absolute;
    display: block;
    text-align: center;
}

